body {
  margin: 0;
}

header {
  background-color: black;
  height: 200px;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, sans-serif;
  font-size: 40pt;
  color: white;
  margin-left: 30px;
  margin-top: 0;
}