body {
  margin: 0;
}
.Header {
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, sans-serif;
    font-size: 40pt;
    color: white;
    margin-top: 0;

    h1 {
      color: blue;
    }
  }

